body {
    background-color: #353535;
    color: #f3f3f3;

}

.gfont-1 {
    font-family: 'Fjalla One', sans-serif;
}

.gfont-2 {
    font-family: 'Cinzel', serif;
}

a:visited {
    text-decoration: none;
    outline: none;
    background: none;
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 35px;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    border-bottom: 2px dashed #202020;
}

.nav-img {
    float: right;
    height: 30px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nav-img:hover {
    border: 1px solid #f3f3f3;
}

.title {
    font-family: 'Cinzel', serif;
    width: auto;
    position: absolute;
    padding: 6px;
    padding-left: 10px;
}

.img-area-1 {
    margin: 2em;
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-area-1::after {
    content: "";
    clear: both;
    display: table;
}

.img-area-1 .caption {
    float: left;
    font-size: 14pt;
}

.img-area-1 .image {
    float: right;
}

.extender {
    margin-top: 200em;
}