body {
    background-color: #353535;
    color: #f3f3f3;

}

.gfont-1 {
    font-family: 'Fjalla One', sans-serif;
}

.gfont-2 {
    font-family: 'Cinzel', serif;
}

a:visited {
    text-decoration: none;
    outline: none;
    background: none;
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 35px;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    border-bottom: 2px dashed #202020;
}

.nav-img {
    float: right;
    height: 30px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nav-img:hover {
    border: 1px solid white;
}

.title {
    font-family: 'Cinzel', serif;
    width: auto;
    position: absolute;
    padding: 6px;
    padding-left: 10px;
}

.body {
    top: 200px;
    right: 35%;
    width: 600px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
}